<div class="">
    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
        [scrollWindow]="false" class="list-panel">
        <!-- <virtual-scroller #scroll [items]="items">
            <mat-card *ngFor="let item of scroll.viewPortItems" class="teams-multi-col">
                <img mat-card-lg-image [src]="item.logo" [alt]="item.name" class="item" />
            </mat-card>
        </virtual-scroller> -->
        <mat-card *ngFor="let item of items">
            <img mat-card-lg-image [src]="item.logo" [alt]="item.name" class="item my-4" />
        </mat-card>
    </div>
</div>